.header-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
}
.cart-icon {
  font-size: 25px;
}

/* .right-sides {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.right-sides > div {
  margin-left: 25px;
} */
