.slider-container {
  width: 100%;
  height: 150px;
}
.Slider {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f1efeb;
  margin-top: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
