.slider-container {
  width: 100%;
  height: 280px;
  margin-top: 5px;
}
.Slider {
  position: relative;
  width: 100%;
  height: 300px;

  background: #ffffff;

  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
